.home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
    height: 100vh;
    width: 100vw;
    background-color: white;
    padding-top: 50px;
    &.dark{
        background-color: black;
        color: white;
    }
}

.img{
    width: 200px;
    height: 200px;
    margin: 20px;
    object-fit: contain;
    border-radius: 100%;
}

.description{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}