@import "../../../styles/_variables.scss";

.home{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 50px;
    height: 100vh;
    background-color: $back-dark;
    color: $text-dark;
    &.dark{
        background-color: $back-light;
        color: $text-light;
    }
}

.img{
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
    object-fit: contain;
    border-radius: 100%;
    border: 0.1px double rgba(#000000, 0.1);
}

.description{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.name{
    margin: 10px 20px;
    letter-spacing: 5px;
}

.profesion{
    letter-spacing: 10px;
}