@import "../../styles/variables";

.body {
  background-color: $back-dark;
  color: $text-dark;
  max-width: 100%;
  min-height: calc(90vh - 50px);
  display: flex;
  flex-direction: column;
  font-size: 20;
  &.dark{
    background-color: $back-light;
    color: $text-light;
  }
}
