@import "../../../styles/variables";

.projects {
  background-color: $back-dark;
  color: $text-dark;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &.dark {
    background-color: $back-light;
    color: $text-light;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: $back-dark;
  padding: 30px;
  color: $text-dark;
  width: 75%;
  min-height: 80vh;
  margin: 100px 0px;
  box-shadow: 0 0.1rem 0.9rem rgba(0, 0, 0, 0.3);
  z-index: 0;
  border-radius: var(--radius);
  transition: ease-in all 2s;
  &.dark {
    background-color: $back-light;
    color: $text-light;
  }
}

.img {
  padding: 15px;
  padding-bottom: 40px;
  margin: 0 auto;
  object-fit: contain;
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
}

.title {
  padding: 5px;
  font-size: 18px;
}

.description {
  padding: 10px 20px 20px 20px;
}

.techContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.technologies {
  border-radius: 12px;
  background-color: $orange-color;
  padding: 10px;
  margin: 3px;
}

.linkContainer {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.link {
  border: 1px solid rgba($orange-color, 1);
  padding: 10px;
  margin: 10px;
}

.link {
  text-decoration: none;
  color: white;
  transition: all 0.1s;
  &.dark {
    color: black;
  }
}

a:hover {
  transform: scale(1.05);
}

@media only screen and (max-width: 600px) {
  img {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  img{
    width: 250px;
  }
}
