@import "../../styles/variables";

.footer{
    background-color: $back-dark;
    color: $text-dark;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16;
    border-top: 1px solid rgba($orange-color, 0.2);
    &.dark{
        background-color: $back-light;
        color: $text-light;
        border-top: 1px solid rgba($orange-color, 0.4);
    }
}

.socialIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: $orange-color;
    position: relative;
    top: -42px;
    width:80px;
    height: 80px;
    border: 1px solid rgba($orange-color,0.4);
    backdrop-filter: blur(10px);
    transition: 0.5s;
    margin: 0 10px;
    border-radius: 100px;
    overflow: hidden;
    &:hover{
        transform: translateY(-20px)
    }   
    &::before{
        content: "";
        position: absolute;
        top:0;
        left:0;
        width: 120px;
        height: 100%;
        background-color: rgba($orange-color, 0.2);
        transform: skewX(45deg) translateX(150px);
        transition: 0.5s;
    }
}

.socialIcon:hover::before{
    transform: skewX(45deg) translateX(-150px);
}